@model MvcShop.Models.ViewModels.Cart.CartVM

<div class="ajaxcart">
    Your cart: @Model.Quantity item(s) - @Model.Price $
    <br />
    <a href="/Cart/Index" class="btn btn-sm btn-success">Checkout</a>
</div>
    
