@model IEnumerable<MvcShop.Models.ViewModels.Shop.CategoryVM>

<nav class="nav flex-column">

    @foreach (var item in Model)
    {
        if (ViewBag.Title == @item.Name)
        {
            <a class="nav-link active" href="/shop/category/@item.Desc.ToLower()">@item.Name</a>
        }
        else
        {
            <a class="nav-link text-secondary" href="/shop/category/@item.Desc.ToLower()">@item.Name</a>
        }

    }

</nav>



